a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a svg,
button svg {
  -webkit-transition: 0.22s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover svg,
button:hover svg {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
/* CORES */
.texto-laranja {
  color: #d93500;
}
.texto-branco {
  color: #fff;
}
/* GERAIS */
body::-webkit-scrollbar {
  width: 6px;
  background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background: #d93500;
  border-radius: 6px;
}
.container-principal {
  max-width: 1100px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
#banner {
  background-color: #000;
  padding-top: 60px;
  padding-bottom: 40px;
}
#banner .container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner .menu ul {
  display: flex;
}
#banner .menu ul li::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 35px;
  margin-right: 35px;
  display: inline-block;
}
#banner .menu ul li a {
  font-size: 30px;
  font-weight: 600;
}
#banner .menu ul li:last-child::after {
  display: none;
}
#publicacoes {
  background-color: #000;
  padding-bottom: 40px;
}
#publicacoes .container-principal {
  display: flex;
}
#publicacoes .acc {
  width: 33.33%;
  margin: 0 10px;
}
#publicacoes .click-area {
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}
#publicacoes .click-area a {
  background-color: #d93500;
  color: #fff;
  width: 100%;
  display: flex;
  padding: 15px;
  font-weight: 700;
}
#publicacoes .content-info {
  padding-top: 20px;
}
#publicacoes .content-info p {
  color: #fff;
}
#publicacoes .click-area:hover a {
  background-color: #fff;
  color: #d93500;
}
#sobre {
  padding-top: 30px;
  padding-bottom: 30px;
}
#sobre p {
  font-size: 24px;
  text-align: justify;
}
#sobre a {
  color: #d93500;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
#sobre a + a {
  margin-left: 25px;
}
footer {
  background-color: #000;
  padding-top: 40px;
  padding-bottom: 20px;
}
footer .contato {
  color: #fff;
}
footer .bottom-footer {
  color: #d93500;
  text-align: end;
}
footer .bottom-footer p {
  opacity: 0.6;
}
footer .bottom-footer a {
  color: #fff;
  opacity: 0.6;
}
footer .bottom-footer a:hover {
  opacity: 1;
}