a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a svg,
button svg {
  -webkit-transition: 0.22s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover svg,
button:hover svg {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
/* CORES */
.texto-laranja {
  color: #d93500;
}
.texto-branco {
  color: #fff;
}
/* GERAIS */
body::-webkit-scrollbar {
  width: 6px;
  background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background: #d93500;
  border-radius: 6px;
}
h2 {
  font-size: 40px;
}
.container-principal {
  max-width: 1100px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: #000;
  padding-top: 60px;
  padding-bottom: 40px;
}
header .container-principal {
  display: flex;
  justify-content: flex-end;
}
header .menu ul {
  display: flex;
}
header .menu ul li::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 35px;
  margin-right: 35px;
  display: inline-block;
}
header .menu ul li a {
  font-size: 22px;
  font-weight: 600;
}
header .menu ul li a:hover {
  color: #d93500;
}
header .menu ul li:last-child::after {
  display: none;
}
#banner {
  background-color: #000;
  padding-top: 60px;
  padding-bottom: 40px;
}
#banner .container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner .logo {
  max-width: 1100px;
  width: 100%;
}
#banner .logo img {
  width: 100%;
}
#publicacoes {
  background-color: #000;
  padding-bottom: 60px;
  padding-top: 40px;
}
#publicacoes .container-principal {
  display: flex;
}
#publicacoes .acc {
  width: 33.33%;
  margin: 0 10px;
}
#publicacoes .click-area {
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}
#publicacoes .click-area a {
  background-color: #d93500;
  color: #fff;
  width: 100%;
  display: flex;
  padding: 15px;
  font-weight: 700;
}
#publicacoes .content-info {
  padding-top: 20px;
}
#publicacoes .content-info p {
  color: #fff;
}
#publicacoes .click-area:hover a {
  background-color: #fff;
  color: #d93500;
}
#parallax .bg {
  background-image: url('../images/parallax.jpeg');
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  position: relative;
}
#parallax .bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /*    background-color: #d93500;*/
  background: linear-gradient(0deg, #d93500 0%, #000000 100%);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#sobre {
  padding-top: 60px;
  padding-bottom: 60px;
}
#sobre .container-principal {
  display: flex;
}
#sobre .container-principal .imagem {
  max-width: 250px;
  width: 100%;
  height: 250px;
}
#sobre .container-principal .imagem img {
  width: 100%;
  height: inherit;
  border-radius: 100%;
}
#sobre .container-principal .texto {
  max-width: 800px;
  width: 100%;
  margin-left: 30px;
}
#sobre .container-principal .texto p {
  font-size: 20px;
  text-align: justify;
}
#sobre .container-principal .texto a {
  color: #d93500;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
#sobre .container-principal .texto a:hover {
  color: #f63d01;
}
#sobre .container-principal .texto a + a {
  margin-left: 25px;
}
#depoimentos {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #d93500;
}
#depoimentos h2 {
  text-align: center;
  margin-bottom: 35px;
}
#depoimentos .box-carrossel {
  background-color: #000;
  border-radius: 20px;
  padding: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#depoimentos .box-carrossel p {
  color: #fff;
  font-weight: 500;
}
footer {
  background-color: #000;
  padding-top: 40px;
  padding-bottom: 20px;
}
footer .content-footer {
  display: flex;
  color: #fff;
}
footer .content-footer a svg {
  fill: #eee;
}
footer .content-footer a:hover {
  color: #d93500;
}
footer .content-footer a:hover svg {
  fill: #eee;
}
footer .content-footer .endereco {
  margin-left: 30px;
}
footer .bottom-footer {
  color: #d93500;
  text-align: end;
}
footer .bottom-footer p {
  opacity: 0.6;
}
footer .bottom-footer a {
  color: #fff;
  opacity: 0.6;
}
footer .bottom-footer a:hover {
  opacity: 1;
}