

a, button {
    text-decoration: none !important;
    -webkit-transition: 0.22s;

    svg {
        -webkit-transition: 0.22s;
    }
}

a:hover, button:hover {
    transition: 0.15s;

    svg {
        transition: 0.15s;
    }
}

ol,
ul {
    list-style: none !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.cep-mask, .cpf-mask, .cvv-mask, .phone-mask, .number-mask, .date-mask {
    display: block;
}


/* CORES */

.texto-laranja {
    color: #d93500;
}

.texto-branco {
    color: #fff;
}


/* GERAIS */

body::-webkit-scrollbar {
    width: 6px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    background: #d93500;
    border-radius: 6px;
}

h2{
    font-size: 40px;
}

.container-principal {
    max-width: 1100px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


header {
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 40px;

    .container-principal {
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        ul {
            display: flex;

            li::after {
                content: "";
                width: 13px;
                height: 13px;
                background-color: #fff;
                border-radius: 100%;
                margin-left: 35px;
                margin-right: 35px;
                display: inline-block;
            }

            li {
                a {
                    font-size: 22px;
                    font-weight: 600;
                }

                a:hover {
                    color: #d93500
                }
            }

            li:last-child::after {
                display: none;
            }
        }
    }
}

#banner {
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 40px;

    .container-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        max-width: 1100px;
        width: 100%;

        img {
            width: 100%;
        }
    }
}

#publicacoes {
    background-color: #000;
    padding-bottom: 60px;
    padding-top: 40px;

    .container-principal {
        display: flex;
    }

    .acc {
        width: 33.33%;
        margin: 0 10px;
    }

    .click-area {
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;

        a {
            background-color: #d93500;
            color: #fff;
            width: 100%;
            display: flex;
            padding: 15px;
            font-weight: 700;
        }
    }

    .content-info {
        padding-top: 20px;

        p {
            color: #fff;
        }
    }

    .click-area:hover {
        a {
            background-color: #fff;
            color: #d93500;
        }
    }
}



#parallax {
    .bg {
        background-image: url('../images/parallax.jpeg');
        background-attachment: fixed;
        height: 500px;
        background-size: cover;
        position: relative;
    }

    .bg::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
    /*    background-color: #d93500;*/
        background: linear-gradient(0deg, rgba(217,53,0,1) 0%, rgba(0,0,0,1) 100%);
        opacity: 0.4;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

#sobre {
    padding-top: 60px;
    padding-bottom: 60px;



    .container-principal {
        display: flex;
        
        .imagem {
            max-width: 250px;
            width: 100%;
            height: 250px;

            img {
                width: 100%;
                height: inherit;
                border-radius: 100%;

            }
        }

        .texto {
            max-width: 800px;
            width: 100%;
            margin-left: 30px;
            p {
                font-size: 20px;
                text-align: justify;
            }

            a {
                color: #d93500;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }

            a:hover {
                color: #f63d01;
            }

            a + a {
                margin-left: 25px;
            }
        }
    }
}

#depoimentos {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d93500;

    h2{
        text-align: center;
        margin-bottom: 35px;
    }

    .box-carrossel {
        background-color: #000;
        border-radius: 20px;
        padding: 20px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            color: #fff;
            font-weight: 500;
        }
    }
}

footer {
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 20px;

    .content-footer {
        display: flex;
        color: #fff;


        a {
            svg {
                fill: #eee;
            }
        }

        a:hover {
            color: #d93500;

            svg {
                fill: #eee;
            }
        }


        .endereco {
            margin-left: 30px;
        }
    }

    .bottom-footer {
        color: #d93500;
        text-align: end;

        p {
            opacity: 0.6;
        }

        a {
            color: #fff;
            opacity: 0.6;
        }

        a:hover {
            opacity: 1;
        }
    }
}
